doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Webdesign
		link(rel='stylesheet', href='../style/style.css')
	body
		include ./parts/data.pug
		include ./parts/header.pug
		include ./parts/navbar.pug
		include ./parts/container.pug
		include ./parts/sidebar.pug