@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Anton');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-image: url(../images/webdesign.png);
	background-size: 100%;
	background-repeat: no-repeat;

}

.underbody {
	background: white;
	text-align: center;	
	opacity: 1;
}

h1 {
	font-size: 60px;
	font-family: 'Helvetica', sans-serif;
}

$green: #57c149;
$red: #ff2a2a;
$darkred: #840909;
$blue: #2a7fff;
$pink: #ff5555;
$darkblue: #00112b;
$yellow: #ffd42a;
$lightgray: #ecebef;
$gray: #dcdde2;
$gold: #818104;
$shadowgray: rgba(0, 0, 0, 0.3);