.container1__navbar {
	background: none;
	display: flex;
	flex-direction: line;
	height: 130px;
	font-family: "Open Sans", sans-serif;
	&__button {
		flex: 1;
		background: none;
		border: none;
		font-size: 0.9em;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		font-family: "Open Sans", sans-serif;
	}
}

.container1__activities {
	display: flex;
	flex-direction: line;
	position: absolute;
	left: 0; 
	right: 0; 
	bottom: -600px;
	margin-left: auto;
	margin-right: auto;
	width: 1030px;
	height: 800px;
	font-family: "Open Sans", sans-serif;
	&__leftSection, &__rightSection {
		height: 630px;
		margin-top: 50px;
	}

	// 3sections
	&__leftSection, &__middleSection, &__rightSection {
		flex: 1;
		background: white;
		&__picture {
			width: 100%;	
			border: 	5px solid white;
		}
		&__title {
			text-transform: uppercase;
			font-size: 2.3em;
		}
		&__location {
			margin-top: 30px;
		}
		&__text {
			margin-top: 10px;
		}

		&__footerinfo {
			display: flex;
			flex-direction: line;
			width: 80%;
			margin: auto;
			margin-top: 60px;
			&__difficulty, &__departure {
				flex: 1;
				&__title {
				text-transform: uppercase;

				}
			}
		}
	}
	&__leftSection {
		&__title {
			color: 	$blue;
		}
	}
	&__middleSection {
		&__title {
			color: 	$red;
		}
	}
	&__rightSection {
		&__title {
			color: 	$green;
		}
	}
}