.container1__navbar {
	background: none;
	display: flex;
	flex-direction: line;
	height: 130px;
	font-family: "Open Sans", sans-serif;
	position: 	relative;
	width: 100%;	
	&__button {
		flex: 1;
		background: none;
		border: none;
		font-size: 0.9em;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
		font-family: "Open Sans", sans-serif;
	}
	&__brand {
		margin-top: 10px;	
		width: 150px;	
		position: 	absolute;
		left: 0; 
		right: 0; 
		margin-left: auto;
		margin-right: auto;
		&__logo {
				width: 100%;	
		}
	}
}

.container1__activities {
	display: flex;
	flex-direction: line;
	position: absolute;
	left: 0; 
	right: 0; 
	bottom: -600px;
	margin-left: auto;
	margin-right: auto;
	width: 1030px;
	height: 800px;
	font-family: "Open Sans", sans-serif;
	&__leftSection, &__rightSection {
		height: 630px;
		margin-top: 50px;
	}

	// 3sections
	&__leftSection, &__middleSection, &__rightSection {
		box-shadow: 0px 30px 30px $shadowgray;
		flex: 1;
		background: white;
		&__picture {
			width: 100%;	
			border: 	5px solid white;
		}
		&__title {
			text-transform: uppercase;
			font-size: 2.3em;
		}
		&__location {	
			margin-top: 30px;
			text-transform: uppercase;
		}
		&__text {
			margin-top: 10px;
		}

		&__footerinfo {
			display: flex;
			flex-direction: line;
			width: 80%;
			margin: auto;
			margin-top: 60px;
			position: 	relative;
			&__difficulty, &__departure {
				flex: 1;
				&__title {
				text-transform: uppercase;

				}
			}
			&__circle {
				height: 10px;	
				width: 10px;	
				background: 	$darkred;
				border-radius: 50%;
				position: absolute;
				left: 0; 
				right: 0; 
				top: 	20px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	&__leftSection {
		border-bottom: 8px solid $blue;
		&__title {
			color: 	$blue;
		}
	}
	&__middleSection {
		border-bottom: 8px solid $red;
		overflow: 	hidden;
		&__title {
			color: 	$red;
		}
	}
	&__rightSection {
		border-bottom: 8px solid $green;
		&__title {
			color: 	$green;
		}
	}
}