.container4__text {
	width: 500px;
	margin: auto;
}

.container4__locations {
	display: flex;
	flex-direction: line;
	margin: auto;
	margin-top: 95px;
	height: 770px;
	width: 1050px;
	&__leftSection, &__rightSection, &__middleSection {
		background: white;
		&__date {
			margin-top: 30px;
		}
		&__location {
			margin-top: 30px;
			font-size: 2.2em;
			text-transform: uppercase;
		}
		&__text {
			width: 80%;
			margin: auto;
			margin-top: 30px;
		}
		&__button {
			background: $red;
			border: none;
			width: 150px;
			height: 50px;
			margin: auto;	
			margin-top: 20px;
			display: flex;
			flex-direction: line;	
			border-radius: 	10px;
			&__logo {
				width: 30px;	
			}
			&__text {
				margin-top: 3px;	
				margin-left: 10px;	
				font-size: 18px;
				color: white;

			}
		}
	}
	&__leftSection, &__rightSection {
		height: 450px;
		flex: 2;
		margin-top: 160px;
	}

	&__leftSection {
		&__location {
			color: 	$red;
		}
		border-bottom: 8px solid $red;

	}

	&__rightSection {
		&__location {
			color: 	$blue;
		}
		border-bottom: 8px solid $blue;

	}

	&__middleSection {
		flex: 3;
		position: relative;
		border-bottom: 8px solid $green;

		&__location {
			color: 	$green;
		}
		&__picture {
			width: 100%;
			border: 	5px solid white;
		}
		&__picturetitle {
			position: absolute;
			left: 0; 
			right: 0; 
			top: 330px;
			margin-left: auto;
			margin-right: auto;
			background: $gold;
			color: 	white;
			border-radius: 	10px;
			width: 200px;

		}
		&__play {
			background: 	none;
			border: 	none;
			margin-top: 50px;	
		}
	}
}
