.container4__text {
	width: 500px;
	padding-top: 30px;
	margin: auto;
}

.container4__locations {
	display: flex;
	flex-direction: line;
	background: pink;
	margin-top: 68px;
	height: 700px;
	&__leftSection {
		flex: 2;
	}
	&__middleSection {
		flex: 3;
	}
	&__rightSection {
		flex: 2;
	}
}