.container2__informations {
	flex: 4;
	&__title{
		margin: auto;
		margin-left: 100px;
		margin-right: 70px;
		margin-top: 30px;
		text-align: left;
		color: 	$darkblue;

	}
	&__block {
		margin: auto;
		margin-left: 100px;
		margin-right: 70px;
		margin-top: 10px;
		background: blue;
		height: 100px;
		display: flex;
		flex-direction: line;
		text-align: center;
		box-shadow: 0px 30px 30px $shadowgray;
		&__departurediv, &__difficultydiv, &__ratingdiv, &__durationdiv {
			flex: 1;
			padding-top: 25px;
			padding-bottom: 25px;
			&__title {
				font-size: 12px;
				text-transform: uppercase;
			}
			&__value {
				font-size: 24px;
				text-transform: uppercase;
				margin-top: 7px;	
			}
		}
		&__departurediv {
				background: $green;
				&__value {
				color: 	$darkblue;

				}

		}
		&__difficultydiv {
				background: $lightgray;
		}
		&__ratingdiv {
				background: $lightgray;

		}
		&__durationdiv {
				background: $lightgray;
				&__value {
					color: 	$darkblue;
				}


		}
	}
	&__text {
		margin-top: 50px;
		margin-right: 70px;
		margin-left: 100px;
		text-align: left;	
	}
	&__booker {
		margin-top: 80px;
		margin-left: 100px;
		height: 60px;
		width: 350px;	
		display: flex;
		flex-direction: line;
		&__price {
			font-size: 2.5em;
			width: 150px;
			padding-top: auto;
			background: $pink;
			color: 	white;
			border-radius: 	10px 0 0 10px;
		}
		&__bookButton {
			background: $red;
			border: none;
			width: 150px;
			margin-left: 0px;
			display: flex;
			flex-direction: line;	
			border-radius: 	0 10px 10px 0;
			&__logo {
				width: 30px;	
			}
			&__text {
				margin-top: 3px;	
				margin-left: 10px;	
				font-size: 18px;
				color: white;

			}
		}
	}
}

.container2__pictureContainer {
	flex: 3;
	&__picture {
		box-shadow: 0px 30px 30px $shadowgray;
		display: block;
		width: 400px;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		border: 7px solid white;
	}
}

