+b.navbarContainer
	+b.__navbarMiddle
		+b.__logoContainer
			+e.IMG.__logo(src='../images/ufc.png') 
		+e.BUTTON.__button
			+e.H2.__title SCHEDULE
			+e.IMG_._arrow(src='../images/arrow.png')
		+e.BUTTON.__button 
			+e.H2.__title FIGHTERS
			+e.IMG.__arrow(src='../images/arrow.png')
		+e.BUTTON.__button
			+e.H2.__title MEDIA
			+e.IMG.__arrow(src='../images/arrow.png')
		+b.__schedule
			+e.__title Muay Thai
			+b.__rebours
				+b.__numberdiv 
					+e.__number 18
					+e.__title Days
				+b.__numberdiv 
					+e.__number 14
					+e.__title Hrs
				+b.__numberdiv 
					+e.__number 45
					+e.__title Mins
				+b.__numberdiv 
					+e.__number 56
					+e.__title Secs
		+b.__searchcontainer
			+e.INPUT.__search 
			+e.BUTTON.__button Go