+b.navbarContainer
	+b.__navbarMiddle
		+b.__logoContainer
			+e.IMG.__logo(src='../images/navlogo.png') 
		+e.BUTTON.__button
			+e.H2.__title SCHEDULE
			+e.IMG.__arrow(src='../images/arrow.png')
		+e.BUTTON.__button 
			+e.H2.__title FIGHTERS
			+e.IMG.__arrow(src='../images/arrow.png')
		+e.BUTTON.__button
			+e.H2.__title MEDIA
			+e.IMG.__arrow(src='../images/arrow.png')
		+b.__schedule
			+e.__title MUAY THAI
			+b.__rebours
				+b.__numberdiv 
					+e.H2.__number 18
					+e.H2.__title Days
				+b.__numberdiv 
					+e.H2.__number 14
					+e.H2.__title Hrs
				+b.__numberdiv 
					+e.H2.__number 45
					+e.H2.__title Mins
				+b.__numberdiv 
					+e.H2.__number 56
					+e.H2.__title Secs
		+b.__searchcontainer
			+e.INPUT.__search 
			+e.BUTTON.__button Go