+b.container2
	+b.__header
		+e.H2.__titleLeft MUAY THAI 
		+e.H2.__titleRight EDGAR VS MONK
		+e.BUTTON.__buttonmiddle
			+e.H2.__title Buy Tickets
			+e.IMG.__arrow(src='../images/arrowright.png')
		+e.BUTTON.__buttonright Overview
		+e.BUTTON.__buttonright Videos
		+e.BUTTON.__buttonright Fight Card
		+e.BUTTON.__buttonright Chatter
	+b.__imageContainer
		+e.IMG.__image(src='../images/match5.jpg')