+b.container2
	+b.__header
		+e.H2__titleLeft Muay Thai 
		+e.H2__titleRight Edgar vs Monk
		+e.BUTTON__buttonmiddle But tickets
		+e.BUTTON__buttonright Overview
		+e.BUTTON__buttonright Videos
		+e.BUTTON__buttonright Fight Card
		+e.BUTTON__buttonright Chatter
	+b.__imageContainer
		+e.IMG__image(src='../images/bigimage.png')