+b.container2
	+b.__header
		+e.H2.__titleLeft Muay Thai 
		+e.H2.__titleRight Edgar vs Monk
		+e.BUTTON.__buttonmiddle But tickets
		+e.BUTTON.__buttonright Overview
		+e.BUTTON.__buttonright Videos
		+e.BUTTON.__buttonright Fight Card
		+e.BUTTON.__buttonright Chatter
	+b.__imageContainer
		+e.IMG.__image(src='../images/bigimage.png')