+b.container3
	+b.__topleft
		+e.H2__surtitle MUAY THAI 452
		+e.H1__title EDGAR VS MONK
		+e.H3__subtitle Bangkok, Thailand
	+b.__topright
		+b.__left
			+e.H2__surtitle PM
			+e.H1__title SATURDAY AUG 
			+b.__rebours
				+b.__numberdiv 
					+e.__number 18
					+e.__title Days
				+b.__numberdiv 
					+e.__number 14
					+e.__title Hrs
				+b.__numberdiv 
					+e.__number 45
					+e.__title Mins
				+b.__numberdiv 
					+e.__number 56
					+e.__title Secs
		+b.__right
			+e.IMG.__logo(src='../images/logocontainer3.png')
	+b.__bottom
		+e.__title Event Chatter
		+b.__commentsdiv
			+b.__commentdiv
				+e.P__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG__picture(src='../images/personlogo.png')
				+e.P__name Michael Jackson
		+b.__commentsdiv
			+b.__commentdiv
				+e.P__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG__picture(src='../images/personlogo.png')
				+e.P__name Michael Jackson
		+b.__commentsdiv
			+b.__commentdiv
				+e.P__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG__picture(src='../images/personlogo.png')
				+e.P__name Michael Jackson
		+b.__commentsdiv
			+b.__commentdiv
				+e.P__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG__picture(src='../images/personlogo.png')
				+e.P__name Michael Jackson