+b.container3
	+b.__topleft
		+e.H2.__surtitle MUAY THAI 452
		+e.H1.__title EDGAR VS MONK
		+e.H2.__subtitle Bangkok, Thailand
	+b.__topright
		+b.__left
			+e.H3.__surtitle 10 PM
			+e.H2.__title SATURDAY AUG 
			+b.__rebours
				+b.__numberdiv 
					+e.__number 18
					+e.__title Days
				+b.__numberdiv 
					+e.__number 14
					+e.__title Hrs
				+b.__numberdiv 
					+e.__number 45
					+e.__title Mins
				+b.__numberdiv 
					+e.__number 56
					+e.__title Secs
		+b.__right
			+e.IMG.__logo(src='../images/logocontainer3.png')
	+b.__bottom
		+e.H2.__title Event Chatter
		+b.__commentsdiv
			+b.__commentdiv
				+b.__textdiv
					+e.P.__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, nam, eos. Porro laborum aut reprehenderit sint soluta quam nisi at.
				+b.__persondiv
					+e.IMG.__picture(src='../images/personlogo.png')
					+e.P.__name Michael Jackson
			+b.__commentdiv
				+b.__textdiv
					+e.P.__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem temporibus ipsum magnam quam aliquam quisquam expedita vitae voluptatem, libero, similique?
				+b.__persondiv
					+e.IMG.__picture(src='../images/personlogo.png')
					+e.P.__name Michael Jackson
			+b.__commentdiv
				+b.__textdiv
					+e.P.__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam iste soluta omnis laudantium consectetur. Error iusto ullam similique fugiat fugit?
				+b.__persondiv
					+e.IMG.__picture(src='../images/personlogo.png')
					+e.P.__name Michael Jackson
			+b.__commentdiv
				+b.__textdiv
					+e.P.__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate rerum perferendis voluptatibus odio. Quasi incidunt explicabo sequi sapiente hic, illum!
				+b.__persondiv
					+e.IMG.__picture(src='../images/personlogo.png')
					+e.P.__name Michael Jackson