+b.container5
	+e.H2.__title MORE ON MUAY THAI
	+b.__matchesContainer
		+b.__matchdiv
			+e.H3.__title SHANE VS KONGCHAINGDOW
			+e.IMG.__picture(src='../images/vs1.png')
			+e.P.__date Sat, Aug 07 2018
		+b.__matchdiv
			+e.H3.__title ASLAN VS INSEETONG
			+e.IMG.__picture(src='../images/vs2.png')
			+e.P.__date Sat, Aug 07 2018
		+b.__matchdiv
			+e.H3.__title SHUNSUKE VS KANKLUAY
			+e.IMG.__picture(src='../images/vs3.png')
			+e.P.__date Sat, Aug 14 2018
		+b.__matchdiv
			+e.H3.__title GLIGOR STOJANOV
			+e.IMG.__picture(src='../images/vs4.png')
			+e.P.__date Sat, Aug 14 2018