+b.container5
	+e.H2.__title MORE ON MUAY THAI
	+b.__matchesContainer
		+b.__matchdiv
			+e.H3.__title MUAY THAI 117
			+e.IMG.__picture(src='../images/vs1.png')
			+e.P.__date Satm Aug 07 2010
		+b.__matchdiv
			+e.H3.__title MUAY THAI 117
			+e.IMG.__picture(src='../images/vs2.png')
			+e.P.__date Satm Aug 07 2010
		+b.__matchdiv
			+e.H3.__title MUAY THAI 117
			+e.IMG.__picture(src='../images/vs3.png')
			+e.P.__date Satm Aug 07 2010
		+b.__matchdiv
			+e.H3.__title MUAY THAI 117
			+e.IMG.__picture(src='../images/vs4.png')
			+e.P.__date Satm Aug 07 2010