+b.footer
	+b.__header
		+b.__buttons
			+e.BUTTON.__button 
				+e.H3.__title Home
			+e.BUTTON.__button 
				+e.H3.__title Events
			+e.BUTTON.__button 
				+e.H3.__title Muay Thai Fight Night
		+b.__countrydiv
			+e.P__country Krabi, Thailand
	+b.__bigContainer
		+b.__div.__div1
			+e.H2.__title Schedule
			+e.A.__link Ipsum
			+e.A.__link Optio Quia
			+e.A.__link Sit
			+e.A.__link Provident Soluta
			+e.H2.__title Schedule
			+e.A.__link Ad Esse
			+e.A.__link Nam Voluptate
			+e.A.__link Dolor
		+b.__div.__div2
			+e.H2.__title Fugiat Odit
			+e.A.__link Aliquam Voluptas Esse
			+e.A.__link Ducimus
			+e.H2.__title Possimus
			+e.H2.__title Incidunt Nihil 
			+e.H2.__title  Voluptas Tempora
		+b.__div.__div3
			+e.H2.__title Amet Eos At
			+e.A.__link Commodi Atque
			+e.A.__link Magnam Aliquid
			+e.A.__link Ipsum Dolor Sit
			+e.A.__link Molestias Ad
			+e.A.__link Voluptas Esse Quas
			+e.A.__link Quae Libero Ea
			+e.A.__link Maxime Amet Eos 
		+b.__div.__div4
			+e.H2.__title  Eos Magni 
			+e.INPUT.__input
			+e.H2.__title Quam Incidunt 
			+e.A.__link Ad Esse Aut
			+e.A.__link At Molestias Ad
			+e.A.__link In Optio Quia
			+e.A.__link Aut Aperiam
		+b.__div.__div5
			+e.H2.__title Nihul
			+e.H2.__title Astande
			+e.IMG.__image(src='../images/matchdiv.png')
			+e.BUTTON.__button
				+e.H2.__title Buy Tickets
				+e.IMG.__arrow(src='../images/arrowright.png')
	+b.__footer1
		+b.__div.__div1
			+e.A.__link Omnis Commodi 
			+e.A.__link Aliquid Accu
		+b.__div.__div2
			+e.A.__link  Aut Aperiam
			+e.A.__link Assumenda Dolor
		+b.__div.__div3
			+e.A.__link Vitae Ducimus
			+e.A.__link Reprehenderit
		+b.__div.__div4
			+e.H2.__title Schedule
			+e.BUTTON.__button
		+b.__div.__div5
			+e.H2.__title Schedule
			+e.INPUT.__title
	+b.__footer2
		+e.__copyrightdiv
			+e.P.__copyright Copyright Moncef N.