+b.footer
	+b.__header
		+b.__buttons
			+e.BUTTON.__button 
				+e.H3.__title Home
			+e.BUTTON.__button 
				+e.H3.__title Events
			+e.BUTTON.__button 
				+e.H3.__title Muay Thai Fight Night
		+b.__countrydiv
			+e.P__country Krabi, Thailand
	+b.__bigContainer
		+b.__div.__div1
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div.__div2
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.H2.__title Schedule
			+e.H2.__title Schedule
			+e.H2.__title Schedule
		+b.__div.__div3
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div.__div4
			+e.H2.__title Schedule
			+e.INPUT.__input
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div.__div5
			+e.H2.__title Schedule
			+e.H2.__title Schedule
			+e.IMG.__image(src='../images/matchdiv.png')
			+e.BUTTON.__button Buy tickets
	+b.__footer1
		+b.__div.__div1
			+e.A.__link Link
			+e.A.__link Link
		+b.__div.__div2
			+e.A.__link Link
			+e.A.__link Link
		+b.__div.__div3
			+e.A.__link Link
			+e.A.__link Link
		+b.__div.__div4
			+e.H2.__title Schedule
			+e.BUTTON.__button
		+b.__div.__div5
			+e.H2.__title Schedule
			+e.INPUT.__title
	+b.__footer2
		+b.__buttons
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
		+e.P.__copyright Biiiiiiiig shiiiiiiiit