@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url('https://fonts.googleapis.com/css?family=Cookie');

* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background: white;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: 75px 75px 6fr;
	grid-auto-flow: row;
}
