.header__search {
	background: green;
}
.header__location {
	background: blue;
}
.header__title {
	background: yellow;
}
.header__name {
	background: pink;
}
.header__button {
	background: gray;
	border: 1px solid red;
}
