.navbar
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon1.png', alt='')
				h2.navbar__button__title Explore
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon2.png', alt='')
				h2.navbar__button__title Messages
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon3.png', alt='')
				h2.navbar__button__title Plans
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon4.png', alt='')
				h2.navbar__button__title Friends
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon5.png', alt='')
				h2.navbar__button__title Pictures
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon6.png', alt='')
				h2.navbar__button__title Videos
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon7.png', alt='')
				h2.navbar__button__title Hotels
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon8.png', alt='')
				h2.navbar__button__title Restaurants
			.navbar__button
				img.navbar__button__icon(src='../images/navbar__button__icon9.png', alt='')
				h2.navbar__button__title Activity