.container3
	.container3__informations
		.container3__informations__informationsContainer
			.container3__informations__informationsContainer__topSection
				.container3__informations__informationsContainer__topSection__imageContainer
					img.container3__informations__informationsContainer__topSection__imageContainer__image(src='../images/container3__informations__informationsContainer__topSection__imageContainer__image.png')
				.container3__informations__informationsContainer__topSection__rightContainer
					h1.container3__informations__informationsContainer__topSection__rightContainer__title Mont Whitney
					.container3__informations__informationsContainer__topSection__rightContainer__subtitle
						p.container3__informations__informationsContainer__topSection__rightContainer__subtitle__date 5th July
						p.container3__informations__informationsContainer__topSection__rightContainer__subtitle__days 8 Days
						p.container3__informations__informationsContainer__topSection__rightContainer__subtitle__peopleLeft 5 people left
					p.container3__informations__informationsContainer__topSection__rightContainer__text #{container3__informations__informationsContainer__topSection__rightContainer__text}
					button.container3__informations__informationsContainer__topSection__rightContainer__button 
							img.container3__informations__informationsContainer__topSection__rightContainer__button__logo(src='../images/play.png')
							p Book This
			.container3__informations__informationsContainer__middleSection
				.container3__informations__informationsContainer__middleSection__imageContainer
					img.container3__informations__informationsContainer__middleSection__imageContainer__image(src='../images/container3__informations__informationsContainer__middleSection__imageContainer__image.png')
				.container3__informations__informationsContainer__middleSection__rightContainer
					h1.container3__informations__informationsContainer__middleSection__rightContainer__title Oukaimeden
					p.container3__informations__informationsContainer__middleSection__rightContainer__text #{container3__informations__informationsContainer__middleSection__rightContainer__text}
					a.container3__informations__informationsContainer__middleSection__rightContainer__link View this tour
			.container3__informations__informationsContainer__bottomSection
				.container3__informations__informationsContainer__bottomSection__imageContainer
					img.container3__informations__informationsContainer__bottomSection__imageContainer__image(src='../images/container3__informations__informationsContainer__bottomSection__imageContainer__image.png')
				.container3__informations__informationsContainer__bottomSection__rightContainer
					h1.container3__informations__informationsContainer__bottomSection__rightContainer__title Alps Mountains
					p.container3__informations__informationsContainer__bottomSection__rightContainer__text #{container3__informations__informationsContainer__middleSection__rightContainer__text}
					a.container3__informations__informationsContainer__bottomSection__rightContainer__link View this tour
	.container3__title
		h2.container3__title__groupSize Group Size:
		img.container3__title__peopleLogo(src='../images/people_icon.png')
		h1.container3__title__bigClimbing Climbing