.container2
	.container2__informations
		h1.container2__informations__title Kayak in the south west of New Zealand
		.container2__informations__block
		p.container2__informations__text #{container2__informations__text}
		.container2__informations__booker
			h1.container2__informations__booker__price $2399
			button.container2__informations__booker__bookButton Book this
	.container2__pictureContainer
		img.container2__pictureContainer__picture(src='../images/container2__pictureContainer__picture.png')