.container2
	.container2__informations
		h1.container2__informations__title
		.container2__informations__block
		p.container2__informations__text
		.container2__informations__booker
			h1.container2__informations__price
			button.container2__informations__bookButton
	.container2__pictureContainer
		img.container2__picture