.container5
	.container5__footerbar
		button.container5__footerbar__button Tours
		button.container5__footerbar__button Locations
		button.container5__footerbar__button Events
		button.container5__footerbar__button Contact
		.container5__footerbar__logo