.container1
	.container1__navbar
		button.container1__navbar__button Tours
		button.container1__navbar__button Locations
		button.container1__navbar__button Events
		button.container1__navbar__button Contact
		.container1__navbar__brand
			img.container1__navbar__brand__logo
			h2.container1__navbar__brand__name 
	h1.container1__title Explore

	.container1__activities
		.container1__activities__leftSection
			img.container1__activities__leftSection__picture
			p.container1__activities__leftSection__location Oukaimeden
			h1.container1__activities__leftSection__title Climbing
			p.container1__activities__leftSection__text #{container1__activities__leftRightSection__text}
			.container1__activities__leftSection__footerinfo 
				.container1__activities__leftSection__footerinfo__difficulty
					p.container1__activities__leftSection__footerinfo__difficulty__title Difficulty
					p.container1__activities__leftSection__footerinfo__difficulty__value Hard
				.container1__activities__leftSection__footerinfo__departure
					p.container1__activities__leftSection__footerinfo__departure__title Departure
					p.container1__activities__leftSection__footerinfo__departure__value June, 10
		.container1__activities__middleSection
			img.container1__activities__middleSection__picture
			p.container1__activities__middleSection__location Kilimanjaro
			h1.container1__activities__middleSection__title Hiking
			.container1__activities__middleSection__footerinfo 
				.container1__activities__middleSection__footerinfo__difficulty
					p.container1__activities__middleSection__footerinfo__difficulty__title Difficulty
					p.container1__activities__middleSection__footerinfo__difficulty__value Medium
				.container1__activities__middleSection__footerinfo__departure
					p.container1__activities__middleSection__footerinfo__departure__title Departure
					p.container1__activities__middleSection__footerinfo__departure__value May, 15
		.container1__activities__rightSection
			img.container1__activities__rightSection__picture
			p.container1__activities__rightSection__location Sydney
			h1.container1__activities__rightSection__title Riding
			p.container1__activities__rightSection__text #{p1}
			.container1__activities__rightSection__footerinfo
				.container1__activities__rightSection__footerinfo__difficulty
					p.container1__activities__rightSection__footerinfo__difficulty__title Difficulty
					p.container1__activities__rightSection__footerinfo__difficulty__value Beginner
				.container1__activities__rightSection__footerinfo__departure
					p.container1__activities__rightSection__footerinfo__departure__title Departure
					p.container1__activities__rightSection__footerinfo__departure__value May,29