.container3
	.container3__title
	.container3__informations
		.container3__informations__topSection
			.container3__informations__topSection__imageContainer
				.container3__informations__topSection__rightContainer
					h1.container3__informations__topSection__rightContainer__title
					h2.container3__informations__topSection__rightContainer__subtitle
					p.container3__informations__topSection__rightContainer__text
					button.container3__informations__topSection__rightContainer__button
		.container3__informations__middleSection
			.container3__informations__middleSection__imageContainer
				.container3__informations__middleSection__rightContainer
					h1.container3__informations__middleSection__rightContainer__title
					p.container3__informations__middleSection__rightContainer__text
					a.container3__informations__middleSection__rightContainer__link
		.container3__informations__bottomSection
			.container3__informations__bottomSection__imageContainer
				.container3__informations__bottomSection__rightContainer
					h1.container3__informations__bottomSection__rightContainer__title
					p.container3__informations__bottomSection__rightContainer__text
					a.container3__informations__bottomSection__rightContainer__link