.container2
	.container2__informations
		h1.container2__informations__title Kayak in the south west of New Zealand
		.container2__informations__block
			.container2__informations__block__departurediv
				h2.container2__informations__block__departurediv__title Departure
				h2.container2__informations__block__departurediv__value June, 23
			.container2__informations__block__difficultydiv
				h2.container2__informations__block__difficultydiv__title Difficulty
				h2.container2__informations__block__difficultydiv__value hard
			.container2__informations__block__ratingdiv
				h2.container2__informations__block__ratingdiv__title Overall Rating
				img.container2__informations__block__ratingdiv__value(src='../images/stars.png')
			.container2__informations__block__durationdiv
				h2.container2__informations__block__durationdiv__title Duration
				h2.container2__informations__block__durationdiv__value 6 Days
		p.container2__informations__text #{container2__informations__text}
		.container2__informations__booker
			h1.container2__informations__booker__price $2399
			button.container2__informations__booker__bookButton 
					img.container2__informations__booker__bookButton__logo(src='../images/play.png')
					p.container2__informations__booker__bookButton__text Book This
	.container2__pictureContainer
		img.container2__pictureContainer__picture(src='../images/container2__pictureContainer__picture.png')