.container4
	h1.container4__title Event Calendar
	p.container4__text #{container4__text}
	.container4__locations
		.container4__locations
			.container4__locations__leftSection
				p.container4__locations__leftSection__date Aug, 13
				h1.container4__locations__leftSection__location Switzerland
				p.container4__locations__leftSection__text #{container4__locations__leftSection__text}
				button.container4__locations__leftSection__button Book this
			.container4__locations__middleSection
				img.container4__locations__middleSection__picture
				h2.container4__locations__middleSection__picturetitle Upcoming event
				p.container4__locations__middleSection__date May, 29
				h1.container4__locations__middleSection__location Sydney
				p.container4__locations__middleSection__text #{container4__locations__leftSection__text}
				button.container4__locations__middleSection__button
			.container4__locations__rightSection
				p.container4__locations__rightSection__date Sep, 4
				h1.container4__locations__rightSection__location New Zealand
				p.container4__locations__rightSection__text #{container4__locations__leftSection__text}
				button.container4__locations__rightSection__button Book this