.container1
	.container1__navbar
		h2.container1__navbar__button Tours
		h2.container1__navbar__button Locations
		h2.container1__navbar__button Events
		h2.container1__navbar__button Contact
		.container1__navbar__brand
			img.container1__navbar__brand__logo
			h2.container1__navbar__brand__name 
	h1.container1__title Explore

	.container1__activities
		.container1__activities__leftsection
			img.container1__activities__leftsection__picture
			p.container1__activities__leftsection__location
			h1.container1__activities__leftsection__title
			p.container1__activities__leftsection__text
			.container1__activities__leftsection__footerinfo
				.container1__activities__leftsection__footerinfo__difficulty
					p.container1__activities__leftsection__footerinfo__difficulty__title
					p.container1__activities__leftsection__footerinfo__difficulty__value
				.container1__activities__leftsection__footerinfo__departure
					p.container1__activities__leftsection__footerinfo__departure__title
					p.container1__activities__leftsection__footerinfo__departure__value
		.container1__activities__middlesection
			img.container1__activities__middlesection__picture
			p.container1__activities__middlesection__location
			h1.container1__activities__middlesection__title
			p.container1__activities__middlesection__text
			.container1__activities__middlesection__footerinfo
				.container1__activities__middlesection__footerinfo__difficulty
					p.container1__activities__middlesection__footerinfo__difficulty__title
					p.container1__activities__middlesection__footerinfo__difficulty__value
				.container1__activities__middlesection__footerinfo__departure
					p.container1__activities__middlesection__footerinfo__departure__title
					p.container1__activities__middlesection__footerinfo__departure__value
		.container1__activities__rightsection
			img.container1__activities__rightsection__picture
			p.container1__activities__rightsection__location
			h1.container1__activities__rightsection__title
			p.container1__activities__rightsection__text
			.container1__activities__rightsection__footerinfo
				.container1__activities__rightsection__footerinfo__difficulty
					p.container1__activities__rightsection__footerinfo__difficulty__title
					p.container1__activities__rightsection__footerinfo__difficulty__value
				.container1__activities__rightsection__footerinfo__departure
					p.container1__activities__rightsection__footerinfo__departure__title
					p.container1__activities__rightsection__footerinfo__departure__value