.container4
	h1.container4__title
	p.container4__text
	.container4__locations
		.container4__locations
			.container4__locations__leftSection
				p.container4__locations__leftSection__date
				h1.container4__locations__leftSection__location
				p.container4__locations__leftSection__text
				button.container4__locations__leftSection__button
			.container4__locations__middleSection
				img.container4__locations__middleSection__picture
				h2.container4__locations__middleSection__picturetitle
				p.container4__locations__middleSection__date
				h1.container4__locations__middleSection__location
				p.container4__locations__middleSection__text
				button.container4__locations__middleSection__button
			.container4__locations__rightSection
				p.container4__locations__rightSection__date
				h1.container4__locations__rightSection__location
				p.container4__locations__rightSection__text
				button.container4__locations__rightSection__button