* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: arial;
	background-image: url(../images/webdesign.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	color: 	white;
	background: black;
	.thinner {
		width: 940px;
		margin: auto;
	}
	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 1.1em;
	}
	h3 {
		font-size: 0.8em;
		
	}
	button {
		border: none;
		color: 	white;
		h2 {
			font-size:  1.2em;
		}
	}
}



$color: #c00f1e;
$color2: #282b2d;
$color3: gray;
$transblack: rgba(0, 0, 0, 0.4);