.navbarContainer {
	width: 100%;
	background: $color;
	height: 70px;
}

.container2 {
	background: gray;
	height: 540px;
}

.container3 {
	margin-top: 15px;
	background: blue;
	height: 470px;
}

.container4 {
	background: green;
	height: 520px;
}

.container5 {
	margin-top: 15px;
	background: yellow;
	height: 240px;
}

.footer {
	background: red;
	height: 420px;
}