.navbarContainer {
	width: 100%;
	background: $color;
	    box-shadow: 100px 50px 0 black;

}

.container2 {
	background: $color3;
}

.container3 {
	margin-top: 15px;
	background: blue;
}

.container4 {
}

.container5 {
	margin-top: 15px;
	background: yellow;
}

.footer {
	background: red;
}