/*
+b.navbarContainer
	+b.__navbarMiddle
		+b.__logoContainer
			+e.IMG__logo(src='../images/ufc.png') 
		+e.BUTTON__button
			+e.H2.__title schedule
			+e.IMG__arrow(src='../images/arrow.png')
		+e.BUTTON__button 
			+e.H2.__title fighters
			+e.IMG__arrow(src='../images/arrow.png')
		+e.BUTTON__button
			+e.H2.__title media
			+e.IMG__arrow(src='../images/arrow.png')
		+b.__schedule
			+e.__title Muay Thai
			+b.__rebours
				+b.__numberdiv 
					+e.__number 18
					+e.__title Days
				+b.__numberdiv 
					+e.__number 14
					+e.__title Hrs
				+b.__numberdiv 
					+e.__number 45
					+e.__title Mins
				+b.__numberdiv 
					+e.__number 56
					+e.__title Secs
		+b.__searchcontainer
			+e.INPUT.__search 
			+e.INPUT.__button Go
*/


.navbarContainer {
	&__navbarMiddle {
		height: 100%;
		width: 940px;
		margin: auto;
		display: flex;
		flex-direction: line;
		width: 70%;

		&__logoContainer {
			flex: 1;
			display: flex;
			flex-direction: line;	
			align-items: center;
			&__logo {
				width: 100%;	
			}
		}
		&__button {
			background: 	none;
			flex: 1;
		}
			&__arrow	{
				width: 12px;	
			}
		&__schedule {
			flex: 1;
				text-align: center;	
				display: flex;
				flex-direction: column;	
				align-items: center;
			&__title {
			}
			&__rebours {
				display: flex;
				flex-direction: line;	
				&__numberdiv {
					margin: 2px;
					background: $transblack;
					&__number{

					}
					&__title{

					}
				}
			}
		}
		&__searchcontainer {
			display: flex;
			flex-direction: line;	
			align-items: center;
			flex: 3;
			margin: auto;
			&__search {
				
			}
			&__button {
				padding: 10px;	
				height: 35px;	
				background: $color3;
			}
		}
	}
}