/*
+b.navbarContainer
	+b.__navbarMiddle
		+b.__logoContainer
			+e.IMG__logo(src='../images/ufc.png') 
		+e.BUTTON__button
			+e.H2.__title schedule
			+e.IMG__arrow(src='../images/arrow.png')
		+e.BUTTON__button 
			+e.H2.__title fighters
			+e.IMG__arrow(src='../images/arrow.png')
		+e.BUTTON__button
			+e.H2.__title media
			+e.IMG__arrow(src='../images/arrow.png')
		+b.__schedule
			+e.__title Muay Thai
			+b.__rebours
				+b.__numberdiv 
					+e.__number 18
					+e.__title Days
				+b.__numberdiv 
					+e.__number 14
					+e.__title Hrs
				+b.__numberdiv 
					+e.__number 45
					+e.__title Mins
				+b.__numberdiv 
					+e.__number 56
					+e.__title Secs
		+b.__searchcontainer
			+e.INPUT.__search 
			+e.INPUT.__button Go
*/


.navbarContainer {
	&__navbarMiddle {
		height: 100%;
		width: 940px;
		margin: auto;
		display: flex;
		background: yellow;
		flex-direction: line;
		&__logoContainer {
			background: blue;
			flex: 1;
			display: inline-block;
			height: 100%;	
			vertical-align: middle;
			&__logo {
				display: 	block;	
				margin-right: auto;	
				margin-left: auto;
				vertical-align: middle;
			}
		}
		&__button {
			background: green;
			border: 1px solid black;
			flex: 1;
		}
		&__schedule {
			background: blue;
			flex: 1;
				text-align: center;	
			&__title {
			}
			&__rebours {
				display: flex;
				flex-direction: line;	
				&__numberdiv {
					background: gray;
					&__number{

					}
					&__title{

					}
				}
			}
		}
		&__searchcontainer {
			background-color: gray;
			flex: 3;
		}
	}
}