.container2 {

	background: $color2;
	padding: 20px;
	&__header {
		height: 45px;
		background: $color2;
		display: flex;
		flex-direction: line;	
		align-items: center;
		&__titleLeft {
			flex: 1;	
		}
		&__titleRight {
			flex: 3;	
		}
		&__buttonmiddle {
			background: 	none;
			flex: 2;	
		}
		&__buttonright {
			background: 	none;
			flex: 1;	
		}
	}
	&__imageContainer {
		margin: auto;
		&__image {
			width: 100%;	
			height: 95%;
		}
	}
}

/*
+b.container2
	+b.__header
		+e.H2__titleLeft Muay Thai 
		+e.H2__titleRight Edgar vs Monk
		+e.BUTTON__buttonmiddle But tickets
		+e.BUTTON__buttonright Overview
		+e.BUTTON__buttonright Videos
		+e.BUTTON__buttonright Fight Card
		+e.BUTTON__buttonright Chatter
	+b.__imageContainer
		+e.IMG__image(src='../images/bigimage.png')
*/