.container2 {

	background: $color2;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	&__header {
		height: 45px;
		background: $color2;
		display: flex;
		flex-direction: line;	
		align-items: center;
		&__titleLeft {
			flex: 2;
			color: 	$color3;	
		}
		&__titleRight {
			flex: 3;	
		}
		&__buttonmiddle {
			background: $color;
			padding: 7px;	
			flex: 2;	
			display: flex;
			flex-direction: line;	
			align-items: center;
			justify-content: space-around;
		}
		&__title	 {
		}
			&__arrow {
				height: 12px;	
				margin-left: 10px;	
			}
		&__buttonright {
			background: none;
			color: $color3;
			flex: 1;	
		}
	}
	&__imageContainer {
		margin: auto;
		&__image {
			width: 100%;	
		}
	}
}

/*
+b.container2
	+b.__header
		+e.H2__titleLeft Muay Thai 
		+e.H2__titleRight Edgar vs Monk
		+e.BUTTON__buttonmiddle But tickets
		+e.BUTTON__buttonright Overview
		+e.BUTTON__buttonright Videos
		+e.BUTTON__buttonright Fight Card
		+e.BUTTON__buttonright Chatter
	+b.__imageContainer
		+e.IMG__image(src='../images/bigimage.png')
*/