.container3 {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-auto-flow: row;
		background: $color2;
		background: linear-gradient(to bottom, $color2, black);
		padding: 20px;	
		&__topleft {
			grid-column: 1 ;
			grid-row: 1;	
			&__surtitle	 {
				color: 	$color;
			}
			&__subtitle	 {
				color: 	$color3;
			}
		}	
		&__topright {
			grid-column: 2 ;
			grid-row: 1;
			display: flex;
			flex-direction: line;
			&__left {
				flex: 4;
				display: flex;
				flex-direction: column;	
				padding-bottom: 50px;	
				&__surtitle	 {
					color: 	$color;
				}
				&__title {
					margin-top: 10px;	
				}
				&__rebours {
					margin-top: 10px;	
					text-align: center;	
					display: flex;
					flex-direction: line;
					&__numberdiv	 {
						background: $transblack;
						margin: 2px;
					}
				}
			}
			&__right {
				flex: 5;
				display: flex;
				flex-direction: line;
				align-items: center;
				&__logo {
					width: 100%;

				}
			}
		}
		&__bottom {
			margin-top: 50px;	
			grid-column: 1 / 3 ;
			grid-row: 2;
			&__title {
				color: 	$color;
			}
			&__commentsdiv {
				display: flex;
				flex-direction: line;
				&__commentdiv {
					flex: 1;
					display: flex;
					flex-direction: column;	
					padding: 10px;	
					&__textdiv {
						background: $color2;
						color: 	$color3;
						padding: 10px;	
						&__text {
								font-size: 	12px;
							}	
					}
					&__persondiv {
						margin-top: 10px;	
						display: flex;
						flex-direction: line;	
						&__name {
							font-size: 	12px;
							margin-left: 10px;	
							text-decoration: underline;
						}
						&__picture	 {
							width: 35px;	
						}
					}			
				}


			}
		}
}

/*
+b.container3
	+b.__topleft
		+e.H2.__surtitle MUAY THAI 452
		+e.H1.__title EDGAR VS MONK
		+e.H3.__subtitle Bangkok, Thailand
	+b.__topright
		+b.__left
			+e.H2.__surtitle PM
			+e.H1.__title SATURDAY AUG 
			+b.__rebours
				+b.__numberdiv 
					+e.__number 18
					+e.__title Days
				+b.__numberdiv 
					+e.__number 14
					+e.__title Hrs
				+b.__numberdiv 
					+e.__number 45
					+e.__title Mins
				+b.__numberdiv 
					+e.__number 56
					+e.__title Secs
		+b.__right
			+e.IMG.__logo(src='../images/logocontainer3.png')
	+b.__bottom
		+e.__title Event Chatter
		+b.__commentsdiv
			+b.__commentdiv
				+e.P.__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG.__picture(src='../images/personlogo.png')
				+e.P.__name Michael Jackson
		+b.__commentsdiv
			+b.__commentdiv
				+e.P.__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG.__picture(src='../images/personlogo.png')
				+e.P.__name Michael Jackson
		+b.__commentsdiv
			+b.__commentdiv
				+e.P.__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG.__picture(src='../images/personlogo.png')
				+e.P.__name Michael Jackson
		+b.__commentsdiv
			+b.__commentdiv
				+e.P.__text big shiiiiiiiiiiiiiiiiiiiiiiiiiiiit
			+b.__persondiv
				+e.IMG.__picture(src='../images/personlogo.png')
				+e.P.__name Michael Jackson
				*/