.container4 {
		display: flex;
		flex-direction: column;	
		background: 	rgb(0, 0, 30);
		padding-bottom: 10px;	
		&__header	 {
			padding-left: 10px;
			display: flex;
			flex-direction: line;
			height: 30px;	
			background: 	$color3;
			align-items: center;
			&__title	 {
				text-align: center;	
				flex: 1;	
			}
			&__title	 {
			color: 	$color;
			}
		}
		&__mainContainer {
			display: flex;
			flex-direction: line;

			padding-top: 20px;	
			&__left {
					margin-left: 10px;	

				flex: 1;
				&__text {
				}
				&__table {
					margin-top: 20px;
					display: flex;
					flex-direction: line;	
					&__div	 {
						flex: 1;	
						&__title	 {
							
							background: $color3;
						}
						&__element	 {
							border-bottom: 1px solid $color3;
							padding: 5px;
						}
					}
					&__leftdiv {
						flex: 2;
					}
				}	
				&__button {
					margin-top: 20px;
					height: 30px;
					width: 150px;
					background: $color;
				}
			}
			&__middle {
				border-left: 1px solid $color3;
				flex: 1;	
					&__images {
						display: flex;
						flex-direction: line;
						&__leftcontainer	 {
								flex: 1;	
								display: flex;
								flex-direction: line;	
							}	
						&__rightcontainer	 {
							flex: 1;	
							display: flex;
							flex-direction: line;	
						}
					}
			}
			&__right {
					margin-right: 10px;	

				border-left: 1px solid $color3;
				flex: 1;	
			}
			&__left, &__middle, &__right	 {
				padding-left: 10px;	
				padding-right: 10px;	

				
			}
	}
}

/* 
+b.container4
	+b.__left
		+b.__header
			+e.H1.__title Tickets
		+e.P.__text big shiiiiiiiiiiiiiiiiiiiiiiit
		+b.__table
			+b.__leftdiv
				+e.__title Date
				+e.P.__topelement Thursday, July 15
				+e.P.__middleelement Thursday, July 15
				+e.P.__bottomelement Thursday, July 15
			+b.__middlediv
				+e.__title Availability
				+e.P.__topelement Muay Thai
				+e.P.__middleelement Muay Thai
				+e.P.__bottomelement Muay Thai
			+b.__rightdiv
				+e.__title Time
				+e.P.__topelement 10AM
				+e.P.__middleelement 10AM
				+e.P.__bottomelement 10AM
		+e.BUTTON.__button Buy Tickets
	+b.__middle
		+b.__top
			+b.__header
				+e.H1.__title How to watch
			+b.__images
				+b.__leftcontainer
					+e.IMG.__logo(src='../images/mouselogo.png')
					+e.P.__title Online & Mobile
				+b.__rightcontainer
					+e.IMG.__logo(src='../images/screenlogo.png')
					+e.P.__title Cable & Satellite
			+e.P.__text big shiiiiiiiiiiiiiiiiiiiiiiit
			+e.BUTTON__button More information
		+b.__bottom
			+e.P.__title big shiiiiiiiiiiiiiiiiiiiiiiit
	+b.right
		+b.__header
			+e.H1.__title
		+b.UL.__list
			+e.LI.__element Some event News
			+e.LI.__element Some event News
			+e.LI.__element Some event News
			+e.LI.__element Some event News
			+e.LI.__element Some event News
			+e.LI.__element Some event News
		+e.BUTTON.__button More
		*/