.footer {
	display: flex;
	flex-direction: column;	
	background: 	none;
	&__header {
		flex: 1;	
		background: 	$color2;
		padding: 10px;
		&__buttons {
			float: left;	
			display: flex;
			flex-direction: line;
			&__button {
				margin-left: 10px;
				background: none;
			}
		}
		&__countrydiv {
			float: right;	
			flex: 1;	
			margin-right: 20px;
			&__country {
			}
		}

	}
		&__bigContainer {
		padding: 20px;
			margin-top: 20px;
			flex: 5;	
			display: flex;
			flex-direction: line;	
			&__div {
				flex: 1;	
				display: flex;
				flex-direction: column;	
				&__link {
					margin-top: 5px;
					color: $color3;
				}
				&__title {
					margin-top: 5px;

				}
				&__image {
					
				}
			}

		}
		&__footer1 {
			flex: 1;	
			display: flex;
			flex-direction: line;	
			&__div {
				flex: 1;
				}	
		}
		&__footer2 {
			flex: 1;	
			display: flex;
			flex-direction: line;	
			padding: 10px;
		}
}

/*
+b.footer
	+b.__header
		+e.BUTTON__button Home
		+e.BUTTON__button Events
		+e.BUTTON__button Muay Thai Fight Night
		+e.P__country Krabi, Thailand
	+b.__bigContainer
		+b.__div1
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div2
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.H2.__title Schedule
			+e.H2.__title Schedule
			+e.H2.__title Schedule
		+b.__div3
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div4
			+e.H2.__title Schedule
			+e.INPUT.__input
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div5
			+e.H2.__title Schedule
			+e.H2.__title Schedule
			+e.IMG.__image(src='../images/matchdiv.png')
			+e.BUTTON.__button Buy tickets
	+b.__footer1
		+b.__div1
			+e.A.__link Link
			+e.A.__link Link
		+b.__div2
			+e.A.__link Link
			+e.A.__link Link
		+b.__div3
			+e.A.__link Link
			+e.A.__link Link
		+b.__div4
			+e.H2.__title Schedule
			+e.BUTTON.__button
		+b.__div5
			+e.H2.__title Schedule
			+e.INPUT.__title
	+b.__footer2
		+b.__buttons
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
		+e.P.__copyright
*/