.footer {
	&__header {
		display: flex;
		flex-direction: line;	
		&__button {
			flex: 1;	
		}
		&__country {
			flex: 1;	
		}
	}
		&__bigContainer {
			display: flex;
			flex-direction: line;	
			&__div1 {
				flex: 1;	

			}
			&__div2 {
				flex: 1;	
				
			}
			&__div3 {
				flex: 1;	
				
			}
			&__div4 {
				flex: 1;	
				
			}
			&__div5 {
				flex: 1;	
				
			}
		}
		&__footer1 {
			display: flex;
			flex-direction: line;	
		}
		&__footer2 {
			display: flex;
			flex-direction: line;	
		}
}

/*
+b.footer
	+b.__header
		+e.BUTTON__button Home
		+e.BUTTON__button Events
		+e.BUTTON__button Muay Thai Fight Night
		+e.P__country Krabi, Thailand
	+b.__bigContainer
		+b.__div1
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div2
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.H2.__title Schedule
			+e.H2.__title Schedule
			+e.H2.__title Schedule
		+b.__div3
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div4
			+e.H2.__title Schedule
			+e.INPUT.__input
			+e.H2.__title Schedule
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
			+e.A.__link Link
		+b.__div5
			+e.H2.__title Schedule
			+e.H2.__title Schedule
			+e.IMG.__image(src='../images/matchdiv.png')
			+e.BUTTON.__button Buy tickets
	+b.__footer1
		+b.__div1
			+e.A.__link Link
			+e.A.__link Link
		+b.__div2
			+e.A.__link Link
			+e.A.__link Link
		+b.__div3
			+e.A.__link Link
			+e.A.__link Link
		+b.__div4
			+e.H2.__title Schedule
			+e.BUTTON.__button
		+b.__div5
			+e.H2.__title Schedule
			+e.INPUT.__title
	+b.__footer2
		+b.__buttons
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
			+e.BUTTON.__button
				+e.IMG.__img(src='../images/footerbutton.png')
		+e.P.__copyright
*/