doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Webdesign
    link(rel='stylesheet', href='../style/style.css')
  body
    // =======================================================================================
    // ========================================HEADER=========================================
    // =======================================================================================
    .header
      .header__search
        img.header__search__icon(src='../images/header__search__icon.png', alt='')
      .header__location
        img.header__location__icon(src='../images/header__location__icon.png', alt='')
        p.header__location__text Los Angeles
      .header__title
        h1 Coding Design
      .header__name
        p Moncef N
      .header__button
        img.header__button__icon__profile(src='../images/header__button__icon__profile.png', alt='')
      .header__button
        img.header__button__icon__logout(src='../images/header__button__icon__logout.png', alt='')
    // =======================================================================================
    // ========================================NAVBAR=========================================
    // =======================================================================================
    .navbar
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon1.png', alt='')
        h2.navbar__button__title Explore
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon2.png', alt='')
        h2.navbar__button__title Messages
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon3.png', alt='')
        h2.navbar__button__title Plans
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon4.png', alt='')
        h2.navbar__button__title Friends
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon5.png', alt='')
        h2.navbar__button__title Pictures
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon6.png', alt='')
        h2.navbar__button__title Videos
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon7.png', alt='')
        h2.navbar__button__title Hotels
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon8.png', alt='')
        h2.navbar__button__title Restaurants
      .navbar__button
        img.navbar__button__icon(src='../images/navbar__button__icon9.png', alt='')
        h2.navbar__button__title Activity
    // =======================================================================================
    // =======================================CONTAINER=======================================
    // =======================================================================================
    .container
      .container__backgroundHeader
        h1.container__backgroundHeader__location New York
      .container__column1
        .container__poster
          textarea.container__poster__textarea
          .container__poster__footer
            button.container__poster__footer__sendbutton
              img.container__poster__footer__sendbutton--image(src='../images/container__poster__footer__sendbutton--image.png', alt='')
        // =======================================POST-beginnning=======================================
        #container__post1.container__post
          #container__post1__backgroundHeader1.container__post__backgroundHeader
          .container__post__informations
            img.container__post__informations__profilepicture(src='../images/picture1.jpg', alt='')
            .container__post__informations__date
              img.container__post__informations__date__logo(src='../images/container__post__informations__date__logo.png', alt='')
              p.container__post__informations__date__text Today
            .container__post__informations__location
              img.container__post__informations__location__logo(src='../images/container__post__informations__location__logo.png', alt='')
              p.container__post__informations__location__text Los Angeles
            p.container__post__informations__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat unde saepe ex maxime deserunt cupiditate. Autem, eveniet.
          .container__post__footer
            .container__post__footer__likes
              img.container__post__footer__likes__logo(src='../images/container__post__footer__likes__logo.png', alt='')
              p.container__post__footer__likes__number 26
            .container__post__footer__comments
              img.container__post__footer__comments__logo(src='../images/container__post__footer__comments__logo.png', alt='')
              p.container__post__footer__comments__number 13
        // =======================================POST-end=======================================
      .container__column2
        // =======================================POST-beginnning=======================================
        #container__post2.container__post
          #container__post2__backgroundHeader2.container__post__backgroundHeader
          .container__post__informations
            img.container__post__informations__profilepicture(src='../images/picture2.jpg', alt='')
            .container__post__informations__date
              img.container__post__informations__date__logo(src='../images/container__post__informations__date__logo.png', alt='')
              p.container__post__informations__date__text Today
            .container__post__informations__location
              img.container__post__informations__location__logo(src='../images/container__post__informations__location__logo.png', alt='')
              p.container__post__informations__location__text New York
            p.container__post__informations__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat unde saepe ex maxime deserunt cupiditate. Autem, eveniet.
          .container__post__footer
            .container__post__footer__likes
              img.container__post__footer__likes__logo(src='../images/container__post__footer__likes__logo.png', alt='')
              p.container__post__footer__likes__number 45
            .container__post__footer__comments
              img.container__post__footer__comments__logo(src='../images/container__post__footer__comments__logo.png', alt='')
              p.container__post__footer__comments__number 19
        // =======================================POST-end=======================================
        // =======================================POST-beginnning=======================================
        #container__post3.container__post
          #container__post3__backgroundHeader3.container__post__backgroundHeader
          .container__post__informations
            img.container__post__informations__profilepicture(src='../images/picture3.jpg', alt='')
            .container__post__informations__date
              img.container__post__informations__date__logo(src='../images/container__post__informations__date__logo.png', alt='')
              p.container__post__informations__date__text Yesterday
            .container__post__informations__location
              img.container__post__informations__location__logo(src='../images/container__post__informations__location__logo.png', alt='')
              p.container__post__informations__location__text New York
            p.container__post__informations__text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat unde saepe ex maxime deserunt cupiditate. Autem, eveniet.
          .container__post__footer
            .container__post__footer__likes
              img.container__post__footer__likes__logo(src='../images/container__post__footer__likes__logo.png', alt='')
              p.container__post__footer__likes__number 82
            .container__post__footer__comments
              img.container__post__footer__comments__logo(src='../images/container__post__footer__comments__logo.png', alt='')
              p.container__post__footer__comments__number 43
        // =======================================POST-end=======================================
    // =======================================================================================
    // ========================================SIDEBAR========================================
    // =======================================================================================
    .sidebar
      .sidebar__online
        h1.sidebar__online__status Online
        .sidebar__online__person
          .sidebar__online__person__profilepicturediv
            img.sidebar__online__person__profilepicturediv__profilepicture(src='../images/picture1.jpg')
          .sidebar__online__person__namediv
            p.sidebar__online__person__namediv__name Moncef N
          .sidebar__online__person__locationdiv
            p.sidebar__online__person__locationdiv__location Los Angeles
          .sidebar__online__person__statusdiv
            .sidebar__online__person__statusdiv__status
        .sidebar__online__person
          .sidebar__online__person__profilepicturediv
            img.sidebar__online__person__profilepicturediv__profilepicture(src='../images/picture2.jpg')
          .sidebar__online__person__namediv
            p.sidebar__online__person__namediv__name Al P
          .sidebar__online__person__locationdiv
            p.sidebar__online__person__locationdiv__location Florida
          .sidebar__online__person__statusdiv
            .sidebar__online__person__statusdiv__status
      .sidebar__offline
        h1.sidebar__offline__status Offline
        .sidebar__online__person
          .sidebar__offline__person__profilepicturediv
            img.sidebar__offline__person__profilepicturediv__profilepicture(src='../images/picture3.jpg')
          .sidebar__offline__person__namediv
            p.sidebar__offline__person__namediv__name George C
          .sidebar__offline__person__locationdiv
            p.sidebar__offline__person__locationdiv__location New Yoyk
          .sidebar__offline__person__statusdiv
            .sidebar__offline__person__statusdiv__status