.container
	.container__backgroundHeader
		h1.container__backgroundHeader__location New York
	.container__column1
		.container__poster
			textarea.container__poster__textarea
			.container__poster__footer
				button.container__poster__footer__sendbutton
					img.container__poster__footer__sendbutton--image(src='../images/container__poster__footer__sendbutton--image.png', alt='')
		// =======================================POST-beginnning=======================================
		#container__post1.container__post
			#container__post1__backgroundHeader1.container__post__backgroundHeader
			.container__post__informations
				img.container__post__informations__profilepicture(src='../images/picture1.jpg', alt='')
				.container__post__informations__date
					img.container__post__informations__date__logo(src='../images/container__post__informations__date__logo.png', alt='')
					p.container__post__informations__date__text Today
				.container__post__informations__location
					img.container__post__informations__location__logo(src='../images/container__post__informations__location__logo.png', alt='')
					p.container__post__informations__location__text Los Angeles
				p.container__post__informations__text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat unde saepe ex maxime deserunt cupiditate. Autem, eveniet.
			.container__post__footer
				.container__post__footer__likes
					img.container__post__footer__likes__logo(src='../images/container__post__footer__likes__logo.png', alt='')
					p.container__post__footer__likes__number 26
				.container__post__footer__comments
					img.container__post__footer__comments__logo(src='../images/container__post__footer__comments__logo.png', alt='')
					p.container__post__footer__comments__number 13
		// =======================================POST-end=======================================
	.container__column2
		// =======================================POST-beginnning=======================================
		#container__post2.container__post
			#container__post2__backgroundHeader2.container__post__backgroundHeader
			.container__post__informations
				img.container__post__informations__profilepicture(src='../images/picture2.jpg', alt='')
				.container__post__informations__date
					img.container__post__informations__date__logo(src='../images/container__post__informations__date__logo.png', alt='')
					p.container__post__informations__date__text Today
				.container__post__informations__location
					img.container__post__informations__location__logo(src='../images/container__post__informations__location__logo.png', alt='')
					p.container__post__informations__location__text New York
				p.container__post__informations__text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat unde saepe ex maxime deserunt cupiditate. Autem, eveniet.
			.container__post__footer
				.container__post__footer__likes
					img.container__post__footer__likes__logo(src='../images/container__post__footer__likes__logo.png', alt='')
					p.container__post__footer__likes__number 45
				.container__post__footer__comments
					img.container__post__footer__comments__logo(src='../images/container__post__footer__comments__logo.png', alt='')
					p.container__post__footer__comments__number 19
		// =======================================POST-end=======================================

		// =======================================POST-beginnning=======================================
		#container__post3.container__post
			#container__post3__backgroundHeader3.container__post__backgroundHeader
			.container__post__informations
				img.container__post__informations__profilepicture(src='../images/picture3.jpg', alt='')
				.container__post__informations__date
					img.container__post__informations__date__logo(src='../images/container__post__informations__date__logo.png', alt='')
					p.container__post__informations__date__text Yesterday
				.container__post__informations__location
					img.container__post__informations__location__logo(src='../images/container__post__informations__location__logo.png', alt='')
					p.container__post__informations__location__text New York
				p.container__post__informations__text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat unde saepe ex maxime deserunt cupiditate. Autem, eveniet.
			.container__post__footer
				.container__post__footer__likes
					img.container__post__footer__likes__logo(src='../images/container__post__footer__likes__logo.png', alt='')
					p.container__post__footer__likes__number 82
				.container__post__footer__comments
					img.container__post__footer__comments__logo(src='../images/container__post__footer__comments__logo.png', alt='')
					p.container__post__footer__comments__number 43
		// =======================================POST-end=======================================