.header
	.header__search
		img.header__search__icon(src='../images/header__search__icon.png', alt='')
	.header__location
		img.header__location__icon(src='../images/header__location__icon.png', alt='')
		p.header__location__text #{headerLocation}
	.header__title
		h1 Coding Design
	.header__name
		p #{headerUserName}
	.header__button
		img.header__button__icon__profile(src='../images/header__button__icon__profile.png', alt='')
	.header__button
		img.header__button__icon__logout(src='../images/header__button__icon__logout.png', alt='')