.sidebar
	.sidebar__online
		h1.sidebar__online__status Online
		.sidebar__online__person
			.sidebar__online__person__profilepicturediv
				img.sidebar__online__person__profilepicturediv__profilepicture(src='../images/picture1.jpg')
			.sidebar__online__person__namediv
				p.sidebar__online__person__namediv__name #{names[0]}
			.sidebar__online__person__locationdiv
				p.sidebar__online__person__locationdiv__location Los Angeles
			.sidebar__online__person__statusdiv
				.sidebar__online__person__statusdiv__status
		.sidebar__online__person
			.sidebar__online__person__profilepicturediv
				img.sidebar__online__person__profilepicturediv__profilepicture(src='../images/picture2.jpg')
			.sidebar__online__person__namediv
				p.sidebar__online__person__namediv__name #{names[1]}
			.sidebar__online__person__locationdiv
				p.sidebar__online__person__locationdiv__location Florida
			.sidebar__online__person__statusdiv
				.sidebar__online__person__statusdiv__status
	.sidebar__offline
		h1.sidebar__offline__status Offline
		.sidebar__online__person
			.sidebar__offline__person__profilepicturediv
				img.sidebar__offline__person__profilepicturediv__profilepicture(src='../images/picture3.jpg')
			.sidebar__offline__person__namediv
				p.sidebar__offline__person__namediv__name #{names[2]}
			.sidebar__offline__person__locationdiv
				p.sidebar__offline__person__locationdiv__location New Yoyk
			.sidebar__offline__person__statusdiv
				.sidebar__offline__person__statusdiv__status