doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Webdesign
		link(rel='stylesheet', href='../style/style.css')
	body
		.underbody
			include ./parts/data.pug
			include ./parts/container1.pug
			include ./parts/container2.pug
			include ./parts/container3.pug
			include ./parts/container4.pug
			include ./parts/container5.pug